* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --black: #1a1d23;
  --white: #f8f8f8;
  --pink: #ff57b2;
}

body {
  background: var(--black);
  color: var(--white);
}
